body {
    background-color: #F1F1F1;

}

p{
    font-family: "Roboto";
}
.conteiner{
    margin-top: 150px;
    display: grid;
    align-items: center;
    justify-content: center;

}


.firstp{
    font-size: 40px;
    
}

.secp{
    font-size: 30px;
}

.thirdp{
    font-size: 25px;
}
.inpt{
    border-radius: 5px;
    border: 0px;
    width: 690px;
    padding-left: 10px;
    font-style: italic;
    font-size: 20px;
}

.iferr{
    color: #F16969;
    display: none;
    margin-bottom: 0px;
    font-size: 20px;
}

.button{
    margin-top: 20px;
    border-radius: 5px;
    border: 0px;
    background: linear-gradient(90deg, #FFC7C4, #F9FEC2);
    width: 700px;
    padding: 3px 0px;
    font-size: 28px;

}

.resetform{
        display: flex-column;


}

@font-face {
    font-family: "Roboto";  
    src: url("Roboto.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }