<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="css\password-reset-done.min.css" />
    {% block head_tags %}

    {% endblock %}
</head>
<body>

{% include 'blocks/header.html' %}

<div>
   
    <main>
        {% block main %}
        <div class="conteiner">
        <form class="resetform">
        
            <p class="firstp">А теперь придумайте новый пароль</p>
            <p class="coment">Введите новый пароль</p>
            <input class="inpt" type="password">
            <p class="coment">Повторите ноый пароль</p>
            <input class="inpt" type="password">
            <br>
            <input type="submit" class="button" value="Продолжить"></a>
        </form>
        </div>	

        {% endblock %}
    </main>
</div>

</body>
</html> 