<header class="header">
    <a href="#" class="header__logo">blog</a>
    <div class="header__btn-search">
        <form action="" class="touch">
            <input type="text" placeholder="поиск" class="searchbtn">
        </form>
        <button class="header__newpost">новая запись</button>
        <button class="search"></button>
    </div>
    <div class="header__prof">
        <a href="" class="header__prof-ring"><i class="far fa-bell"></i></a>
        <a href="#popup" class="header__prof-ico">A</a>
        <a href="" class="header__prof-more"><i class="fas fa-sort-down"></i></a>
    </div>
</header>