<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="css\rubrics-aside.min.css" />
    {% block head_tags %}

    {% endblock %}
</head>
<body>

<div class="side-bar">
    <ul class="rubrics">
        <li >Популярное</li>
        <li >Свежее</li>
        <li >Рубрики</li>
        <li >Пользователи</li>
    </ul>
    <div class="users">
        Пользователи
        <i class="fas fa-cog set"></i>
    </div>
    <ul class="user-list">
        <li ><img src="#" class="user-avatar"></li>
    </ul>
    <div class="footer">
        <div class="footer-in">
            Реклама и контакты
        </div>
        <div class="footer-in">
            рассылка на почту
        </div>
        <div class="footer-in">
            ios
            android
        </div>
    </div>
</div>

</body>
</html> 