body {
    background-color: #F1F1F1;

}
.conteiner{
    margin-top: 150px;
    display: grid;
    align-items: center;
    justify-content: center;

}


.firstp{
    font-size: 25px;
    
}

.secp{
    font-size: 18px;
}

.inpt{
    border-radius: 5px;
    border: 0px;
    width: 390px;
    padding-left: 10px;
    font-style: italic;
}

.iferr{
    color: #F16969;
    display: none;
    margin-bottom: 0px;
}

.button{
    margin-top: 20px;
    border-radius: 5px;
    border: 0px;
    background: linear-gradient(90deg, #FFC7C4, #F9FEC2);
    width: 400px;
    padding: 3px 0px;
    font-size: 15px;

}

.resetform{
        display: flex-column;


}